@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
  .test-class {
    background-color: red !important;
  }

  @font-face {
    font-family: Graphik;
    src: url(fonts/Graphik-Regular.ttf);
  }
}
